@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Open+Sans:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    width: 95%;
    max-width: 1024px;
    font-family:'Open Sans', sans-serif;
    line-height: 1.4;
    margin: 0px auto;
    scroll-behavior: smooth;
}
body{
    background-color: #fbc5002d;    
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

p{
    margin: 5px 0;   
}

.navbar{
    width: 100%;
    /* border: 2px solid red; */
}

.navbar-div{
    margin: 20px 0;
    /* border: 2px solid black; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content:space-between;
}

/* hamburger */

.hamburger{
    /* margin: auto 0; */
    cursor: pointer;
    width:24px;
    height: 18px;
    position: relative;
    background:none;
    z-index: 10;
    transition:all 0.5s;  
}

.hamburger-1,
.hamburger-2,
.hamburger-3{
    /* top:0; */
    left:0;
    position: absolute;
    width: 24px;
    height: 2px;
    background: black;
    transform: rotate(0);

}

.hamburger-2{
    transform: translateY(7px);
}
.hamburger-3{
    transform: translateY(14px);
}

/* Hamburger Menu */
.hamburger-menu{
    z-index: 10;
    position:fixed;
    left:0;
    top:80px;
    width:80%;
    height:100%; 
    transition: all 0.5s;
    background-color: #fbc500;
    
}

.hamburger-menu .ham-scroll{
    line-height:4;
    /* border-bottom: 2px solid white; */
}

.hamburger-menu .ham-scroll li{
    /* text-align:center;    */
    border-bottom: 2px solid black;
    padding-left: 30px;
    

}
.hamburger-menu a{
    text-decoration: none; 
    text-transform:uppercase;  
}


.hidden{
    transform: translateX(-100%);
}

.no-scroll{
    overflow: hidden;
}



/* logo */


.logo{
    /* border: 2px solid greenyellow; */
    font-size:24px;

}

.menu{
    width: 50%;
    display:flex;
    align-items:center;
    justify-content:space-around;
    /* border: 2px solid greenyellow; */
    font-weight: bold;
    
}

.search-div{  
    background-color: white;
    border-radius:20px;
    padding:0 10px; 
}

.search-div input{
    border: none;
    background: transparent;
    padding:0 10px;
    font-weight:bold;
    margin:0 10px;
}


@media (max-width: 2560px) {
    .mag{
        display:none;
    }
    .navbar-nav-ham{
        display:none;
    }
    
}


@media (max-width: 768px){
    
   .menu{
       display: none;
   }
   .search-div{
       display: none;
   }
   .navbar-div{
        justify-content: space-between;
   }
   .mag{
       display: block;
   }
   .navbar{
       justify-content:space-between;
   }
   .navbar-nav-ham{
    display:block;

}
  

}




/* section1 */

.section1{
    width: 100%;
    /* border: 2px solid red; */
    text-align: center;
    padding:20px 0;
    
}
.title1{
    width: 70%;
    font-weight: bold;
    font-size: 30px;
    margin:0 auto; 
    /* border: 2px solid greenyellow; */

}
.count{
    color:#fbc500;
}
.description1{
    opacity: 0.5;
    width: 50%;
    font-size: 24px;
    margin:20px auto;
    /* border: 2px solid greenyellow; */
}
.btn{
    height: auto;
    font-weight: bold;
    font-size: 20px;
    margin:40px 0px;
    padding:20px 0px;
    /* border: 2px solid greenyellow; */
}

.btn a{
    /* font-weight: bold; */
    font-size: 16px;
    border-radius: 10px;
    background-color: #fbc500;
    /* color:white; */
    padding: 10px 30px;  
}

@media (max-width: 768px){
    .title1{
        font-size: 24px;
    }
    .description1{
        font-size: 15px;
    }


}

@media (max-width: 425px){
    .title1{
        font-size: 12px;
    }
    .description1{
        width:60%;
        font-size: 12px;
    }

}
@media (max-width: 320px){
    .title1{
        font-size: 10px;
    }
    .description1{
        width:70%;
        font-size: 12px;
    }

}

/* section 2 */

.section2{
    width: 100%;
    height: auto;
    display: flex;
    padding:20px 0;
    /* border: 2px solid red; */
}

.section2 img{
    z-index: -1;
    border-radius: 30px;
    width: 60%;
}
.right-div{
    height: 100%;
    /* border: 2px solid red; */

}
.lorem-div{
    z-index: 0;
    height:100%;
    margin-left:-150px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgb(100, 100, 100);
    /* border: 2px solid red; */
   
}
.lorem-inner-div{
    margin: 30px 50px;
    padding: 30px 0;
}

.lorem-inner-div h2{  
    font-size:25px;
    color:#fbc500;
}

.lorem-inner-div h1{
    width: 80%;
    font-size:40px;
    opacity: 0.9;
}

.lorem-inner-div p{  
    font-size:20px;
    opacity: 0.5;
    font-weight: bold;
}

.social-div ul{
    width:50%;
    margin:0 auto;
    /* border: 2px solid greenyellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.social-div a svg{
    width:30px;
    
}

@media (max-width: 768px){
    .lorem-inner-div h2{  
        font-size:20px;  
    }
    
    .lorem-inner-div h1{
        font-size:30px;
    }
    
    .lorem-inner-div p{  
        font-size:15px;
    }
    .social-div a svg{
        width:20px;
        
    }
    
}
@media (max-width: 425px){
    .section2{
        width: 100%;
        height: auto;
        display:flex;
        
        flex-direction: column;
       
        
    }
    .right-div{
        margin-top:-80px;
    }
    .lorem-div{
        
        width: 70%;
        z-index: 0;
        height:auto;
        margin:0 auto;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: 0 5px 20px rgb(100, 100, 100);
        /* border: 2px solid red; */
       
    }
    .lorem-inner-div h2{  
        font-size:15px;  
    }
    
    .lorem-inner-div h1{
        font-size:25px;
    }
    
    .lorem-inner-div p{  
        font-size:10px;
    }
    .social-div a svg{
        width:15px;
        
    }
    .lorem-inner-div h1{
        width: 80%;
        font-size:15px;
        opacity: 0.9;
    }
    
    .lorem-inner-div p{  
        font-size:10px;
        opacity: 0.5;
        font-weight: bold;
    }
    .lorem-inner-div{
        margin: 10px 30px;
        padding: 20px 0;
    }
    .section2 img{
        z-index: -1;
        border-radius: 30px;
        width: 100%;
    }
    .social-div ul{
        width:50%;
        margin:30px auto;
        /* border: 2px solid greenyellow; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

}


/* section 3 */

.section3{
    background-color: #fbc500;
    border-radius: 30px;
    height:auto;
    padding:auto;
    text-align:center;
    

}
.section3 table{
    
    margin:30px auto;
}
.section3 img{
    border-radius:50%;
    
}
.abc {
    display: inline-block;
    padding:20px 50px;
    /* width: 150px; */
    
}
img {
    /* width: 100%; */
    width: 100px;
    margin:0 auto;
}

@media (max-width: 425px){
    img {
        width: 80px;
    }

}
@media (max-width: 375px){
    img {
        width: 60px;
    }

}